<?xml version="1.0" encoding="Windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="b901f8f9-67ce-472d-a4e5-c3006e4598b8" Name="MyApplication" Language="1033" Codepage="Windows-1252" Version="1.0.0.0" UpgradeCode="b901f8f9-67ce-472d-a4e5-c3005e4598b7" Manufacturer="wk">
    <Package InstallerVersion="200" Compressed="yes" SummaryCodepage="Windows-1252" Languages="1033" />
    <Media Id="1" Cabinet="MyApplication.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="MyApplication">

          <Component Id="Component.README.md" Guid="b901f8f9-67ce-472d-a4e5-c300a46023e0">
            <File Id="README.md" Source="README.md" />
          </Component>

        </Directory>
      </Directory>
    </Directory>

    <CustomAction Id="Action1SetProp_IDIR" Property="IDIR" Value="[INSTALLDIR]" Return="check" Execute="immediate" />

    <UIRef Id="WixUI_InstallDir" />

    <Property Id="IDIR" Value="empty" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <Feature Id="Complete" Title="Complete" Absent="allow" Level="1">
      <ComponentRef Id="Component.README.md" />
    </Feature>

    <InstallExecuteSequence>
      <Custom Action="Action1SetProp_IDIR" After="InstallInitialize"> (NOT Installed) </Custom>
    </InstallExecuteSequence>

  </Product>
</Wix>

